{% extends 'layout.html' %}

{% block title %}{{title}}{%endblock%}

{% block head %}
{% endblock %}

{% block content %}
{% if userinfo %}<a href="/add">添加文章{% endif %}
<ul class="home">
    {% for item in data %}
    <li class="item">
        {% if userinfo %}
        <a href="javascript: ;" class="a-delete" data-id="{{item._id.toString()}}">删除文章</a>
        {% endif %}

        <div class="title">
            <a href="/article/{{ item._id.toString() }}">{{item.title||"无标题文章"}}</a>
            <div class="msg">
                <h3>isaac_宝华 发布于 {{ item.createAt|date('m月d, Y') }}</h3>
                <small>0 comments</small>
            </div>
        </div>
        <div class="abstract">{{ item.abstract }}</div>
        <a href="/article/{{ item._id.toString() }}">阅读全文 »</a>
    </li>
    {% endfor %}
    <li class="pagination">
        <a href="/archive">博客归档</a>
    </li>
    <li class="line"></li>
</ul>
<script>
    $(document).on('click', '.a-delete', function(e) {
        if(!confirm("Y/N?")){ return false; }
        var id = $(this).attr('data-id');
        console.log(id);
        $.post('/aDelete', { id: id }, function(resp) {
            if(resp.status === 0){
              location.reload();
            }else{
              alert('删除失败~');
            }
        });
    });
</script>
{% endblock %}