<form action="/test/qiniu" method="post" enctype="multipart/form-data" accept-charset="utf-8">
	<input type="file" name="avatar">
	<input type="hidden" name="path">
	<input type="text" name="test" value="asdsad">
	<button type="submit">submit file</button>
</form>
<script type="text/javascript">
	$file = document.querySelector('input[type="file"]');
	$file.addEventListener('change', function() {
		var path = $file.value;
		document.querySelector('input[name="path"]').value = path;
	}, false);
</script>

<form action="/test/upload" method="post" enctype="multipart/form-data" accept-charset="utf-8">
	<input type="file" name="avatar">
	<input type="hidden" name="path">
	<button type="submit">submit file</button>
</form>