body{
  &>.side{
    &{ background-color: #202020;position: absolute;top: 0;right: auto;bottom: 0;left: 0;width: 250px;transition: all 0.3s ease-in-out;z-index: 50; }
    &.active{ left: 0;box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5); }
  }
  &>.content{ 
    &{ background-color: #ffffff;padding: 30px 40px;position: absolute;top: 0;right: 0;bottom: 0;left: 250px;overflow: auto; }
    *{ max-width: 100%; } 
  }
  @media (max-width: 720px) {
    &>.side{ left: -250px; }
    &>.content{ 
      &{ left: 0;top: 50px; }
      &>.navbar{ display: block; }
    }
    .home{
      .title{ 
        &{ padding: 0;font-size: 24px; }
        .msg{ 
          &{ position: relative;text-align: left;font-size: 12px; }
          &>small{ display: none; }
          &>span{ display: inline-block;position: absolute;top: 0;right: 0; }
        }
      }
      .abstract{ text-align: justify;word-break: break-all;font-size: 14px; }
    }
  }
}
