.navbar{
  &{ position: fixed;top: 0;right: 0;bottom: auto;left: 0;z-index: 50;display: none;transition: all 0.3s ease-in-out;box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5); }
  .fa-bars{ display: inline-block; }
  .fa-times{ display: none; }
  .bar{
    &{ display: block;text-align: center;background-color: #202020;color: #ffffff;line-height: 50px;  }
    &>a{ position: absolute;top: 0;left: 10px;color: #ffffff; }
    &>a>i{ line-height: 50px; }
    &>.pic{ 
      &{ position: absolute;top: 10px;right: 10px;width: 30px;height: 30px;border-radius: 50%;overflow: hidden; }
      img{ width: 100%; }
    }
  }
  &.active{ 
    &{ left: 250px; }
    .fa-bars{ display: none !important; }
    .fa-times{ display: inline-block !important; }
  }
}