<ul class="menu">
  <li class="headimg">
    <div class="pic" data-origin="http://ohi69gup6.bkt.clouddn.com/head_img.png?imageView2/1/w/280/h/280/interlace/0/q/100">
      {% if userinfo %}
        <a href="/sign/out">Sign Out</a>
      {% else %}
        <a href="/sign/in">Sign In</a>
      {% endif %}
      <img src="http://ohi69gup6.bkt.clouddn.com/head_img.png?imageView2/1/w/14/h/14/interlace/0/q/100
      ">
    </div>
    <p>isaac_宝华</p>
  </li>
  <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i>主页</a></li>
  <li><a href="/archive"><i class="fa fa-archive" aria-hidden="true"></i>归档</a></li>
  <!-- <li><a href="/archive"><i class="fa fa-link" aria-hidden="true"></i>链接</a></li> -->
  {% if userinfo %}
  <li>
    <a href="/add"><i class="fa fa-plug" aria-hidden="true"></i>写作</a>
  </li>
  {% endif %}
  <li><a href="/about"><i class="fa fa-user" aria-hidden="true"></i>关于</a></li>
  <li class="link">
    <a href=""><i class="fa fa-github" aria-hidden="true"></i></a>
    <a href=""><i class="fa fa-weixin" aria-hidden="true"></i></a>
    <a href=""><i class="fa fa-qq" aria-hidden="true"></i></a>
    <a href=""><i class="fa fa-google" aria-hidden="true"></i></a>
  </li>
  <!-- {% if userinfo %}<a style="position: absolute;top: 10px;right: 20px;" href="/sign/out">注销</a>{% endif %} -->
</ul>
<script>
  (function(){
    var dom = document.querySelector('.headimg .pic img');
    var img = new Image();
    img.src = dom.parentElement.getAttribute('data-origin');
    img.onload = function() {
      dom.src = img.src;
    }
    var signDom = document.querySelector('.headimg .pic img');
    signDom.addEventListener('dblclick', function(){
      this.parentElement.classList.toggle('active')
    }, false);
  })()
</script>
